<section class="step">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="step_nav">
                    <li class="active">
                        <div class="step_num">
                            <span>1</span>
                            <p>Select a Category</p>
                        </div>
                    <li class="active">
                        <div class="step_num">
                            <span>2</span>
                            <p>Pick A Date</p>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>3</span>
                            <p>Event Details</p>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>4</span>
                            <p>Customize Event</p>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>5</span>
                            <p>Finalize Event</p>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>6</span>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>7</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="step-3" class="container">
        <div class="row">
            <div class="col-md-12">
                <p><strong> Event Details</strong></p>
                <div class="bor_orng col-md-12 mb-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/pack-img.jpg" class="img-thumbnail">
                        </div>
                        <div class="col-md-9 pack_data">
                            <div class="pack_top">
                                <h2>Room 1 Basic Party - Weekend</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Location:</h3>
                                    <ul class="pack_list">
                                        <li>Epic Planet Fun 24 Lebovic Ave, Unit C2 Scarborough, Scarborough, M1L 4V9
                                        </li>
                                        <li>Total Capacity: 35</li>
                                        <li class="show_more">Show Description <i class="fa fa-plus"
                                                aria-hidden="true"></i></li>
                                    </ul>
                                    <div class="row">
                                        <p class="mb-0"><strong>Select Tickets:</strong></p>
                                        <div class="col-md-6">
                                            <label>How Many Kids? * </label>
                                            <input type="number" class="form-control" name="" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>How Many Adults? * </label>
                                            <input type="number" class="form-control" name="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="pri_box">
                                        <li>Total Price<br><strong>$259.99</strong></li>
                                        <li>Spots Left<br><strong>35</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer_btn">
        <div class="row">
            <div class="col-md-6 col-6">
                <a [routerLink]="['/eventDate']"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> PREVIOUS STEP</a>
            </div>
            <div class="col-md-6 col-6 text-end">
                <a [routerLink]="['/eventCustomize']">NEXT STEP <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- The Modal -->
<app-login-popup></app-login-popup>