<section class="step">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="step_nav">
                    <li class="active">
                        <div class="step_num">
                            <span>1</span>
                            <p>Select a Category</p>
                        </div>
                    <li class="active">
                        <div class="step_num">
                            <span>2</span>
                            <p>Pick A Date</p>
                        </div>
                    </li>
                    <li class="active">
                        <div class="step_num">
                            <span>3</span>
                            <p>Event Details</p>
                        </div>
                    </li>
                    <li class="active">
                        <div class="step_num">
                            <span>4</span>
                            <p>Customize Event</p>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>5</span>
                            <p>Finalize Event</p>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>6</span>
                        </div>
                    </li>
                    <li>
                        <div class="step_num">
                            <span>7</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="step-4" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Provide us with some additional details to finalize your event.<br> If you haven't already logged in,
                    create a new account by entering a password below.<br>Then click Next Step to review the cart.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 reg_form">
                <p><span class="req-star">*</span> Indicates a required field</p>
                <div class="row">
                    <!-- Set - Hard Coded Fields -->
                    <div class="col-sm-6 ffField">
                        <div class="form-group">
                            <label for="ff-field-email">Email Address<span class="req-star">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control ordFrmFld ffVal required" value=""
                                    data-id="email" id="ff-field-email" name="ff-field-email" maxlength="150"
                                    data-vacffid="3" data-reqfld="-3" data-type="text" data-format="0">
                                <div class="input-group-addon"><i class="fa fa-envelope darkblue"></i></div>
                            </div><!-- /.input-group -->
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                    <div class="col-sm-6 ffField">
                        <div class="form-group">
                            <label for="ff-field-phone">Phone <span class="req-star">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control ordFrmFld ffVal required" value=""
                                    data-id="phone" id="ff-field-phone" name="ff-field-phone" maxlength="15"
                                    data-vbffid="0" data-vacffid="4" data-reqfld="-4" data-type="text" data-format="0">
                                <div class="input-group-addon"><i class="fa fa-phone darkblue"></i></div>
                            </div><!-- /.input-group -->
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-sm-6 ffField">
                        <div class="form-group">
                            <label for="ff-field-first">First Name <span class="req-star">*</span></label>
                            <input type="text" class="form-control ordFrmFld ffVal required" value="" data-id="first"
                                id="ff-field-first" name="ff-field-first" maxlength="50" data-vbffid="0"
                                data-vacffid="1" data-reqfld="-1" data-type="text" data-format="0">
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                    <div class="col-sm-6 ffField">
                        <div class="form-group">
                            <label for="ff-field-last">Last Name <span class="req-star">*</span></label>
                            <input type="text" class="form-control ordFrmFld ffVal required" value="" data-id="last"
                                id="ff-field-last" name="ff-field-last" maxlength="50" data-vbffid="0" data-vacffid="2"
                                data-reqfld="-2" data-type="text" data-format="0">
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                </div>
                <!-- Custom Fields -->
                <input id="hdnFldSetLen" type="hidden" value="7">
                <div class="row">

                    <div class="col-sm-6 ffField">




                        <div class="form-group">
                            <label for="ff-field-6">Select Attraction <span class="req-star">*</span> </label>
                            <select name="FormFieldDetail_6" class="form-control ordFrmFld ffVal required" data-id="6"
                                data-vbffid="0" data-vacffid="17" data-reqfld="6" data-format="4">
                                <option value="0"> Select Option</option>

                                <option value="1"> PlayFun</option>

                                <option value="2"> SkyFun</option>

                            </select>
                        </div><!-- /.checkbox -->

                    </div><!-- /.col -->

                    <div class="col-sm-6 ffField">



                        <div class="form-group">
                            <label for="ff-field-7">Birthday Child's Name <span class="req-star">*</span> </label>
                            <input type="text" maxlength="100" class="form-control ordFrmFld ffVal required" value=""
                                data-id="7" id="ff-field-7" name="ff-field-7" data-vbffid="0" data-vacffid="18"
                                data-reqfld="7" data-type="number" data-format="0">
                        </div><!-- /.form-group -->

                    </div><!-- /.col -->

                    <div class="col-sm-6 ffField">



                        <div class="form-group">
                            <label for="ff-field-8">Birthday Child's Age <span class="req-star">*</span> </label>
                            <input type="number" min="0" class="form-control ordFrmFld ffVal required" value=""
                                data-id="8" id="ff-field-8" name="ff-field-8" data-vbffid="0" data-vacffid="19"
                                data-reqfld="8" data-type="number" data-format="1">
                        </div><!-- /.form-group -->

                    </div><!-- /.col -->

                </div><!-- /.row -->
                <!-- END: Custom Fields -->
                <div class="row">
                    <div class="col-sm-12 ffField">
                        <div class="form-group">
                            <label for="ff-field-notes">Notes</label>
                            <textarea class="form-control ordFrmFld ffVal" rows="0" cols="0" data-id="notes"
                                id="ff-field-notes" name="ff-field-notes" data-vbffid="0" data-vacffid="6"
                                data-reqfld="-6" data-type="text" data-format="0"></textarea>
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <!-- Password Section -->
                <h4 class="mt-5"><i class="fa fa-star"></i> &nbsp;Create Account</h4>
                <div id="new-password-section" class="row">
                    <div class="col-sm-6">
                        <div class="form-group change-password-group">
                            <label for="NewPassword">Password<span class="req-star">*</span></label>
                            <div class="input-group">
                                <input type="password" class="form-control password-input required" value=""
                                    id="NewPassword" name="NewPassword" maxlength="20" data-uidsfdc="4">
                                <div class="input-group-addon"><i class="fa fa-key darkblue"></i></div>
                            </div><!-- /.input-group -->
                            <span class="password-message" id="newpassword-message" aria-live="polite"></span>

                            <div id="changePassword-section" class="change-password well well-sm">
                                <p class="family-avi-medium font14">Password Criteria:</p>
                                <ul class="passwordul">
                                    <li class="mb4">
                                        <i id="charcountcirclecheck" class="fa fa-times passwordicon"></i>
                                        <span id="charcount" class="spancirclecheck">8&nbsp;Characters</span>
                                    </li>
                                    <li class="mb4">
                                        <i id="numberscirclecheck" class="fa fa-times passwordicon"></i>
                                        <span id="numbers" class="spancirclecheck">
                                            1&nbsp;Number
                                        </span>
                                    </li>
                                </ul>
                            </div><!-- /.change-password -->
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <div class="form-group change-password-group">
                            <label for="ConfirmPassword">Confirm Password<span class="req-star">*</span></label>
                            <input type="password" class="form-control password-input required" value=""
                                id="ConfirmPassword" name="ConfirmPassword" maxlength="20" data-uidsfdc="5">
                            <span class="password-message" id="confirmpassword-message" aria-live="polite"></span>
                        </div>
                        <!--/.form-group -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <!-- END: Password Section -->
                <!-- Save Button -->
                <div class="text-center mt-5">
                    <span class="btn-action"><i class="fa fa-star"></i> &nbsp;<span>Create Account</span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="summary">
                    <h3>Summary</h3>
                    <div class="summary_box">
                        <div class="time_box">
                            <p><strong>Time Left to Complete:</strong></p>
                            <h4>03:05 <span><i class="fa fa-clock-o" aria-hidden="true"></i> More Time?</span></h4>
                        </div>
                        <div>
                            <label>Event:</label>
                            <p><span><b>Room 2 Basic Party - Weekend</b><br>
                                    Category: <b>Book A Weekend Party (Fri - Sun)</b><br>
                                    Package: <b>Basic Birthday Party - Weekend</b><br>
                                    Location: <b>Epic Planet Fun</b></span>
                            </p>
                            <p class="lineheight16"><span><b>Sun Jun 05, 2022<br> 6:00pm - 8:00pm (EST)</b></span></p>
                            <p class="lineheight16"><span><b>1</b> - How Many Kids? <br><b>1</b> - How Many Adults? <br>
                                    <span>06:00 PM party session</span>
                                    <span style="margin-top: 2px; margin-bottom: 2px;display: block;">06:00 PM Room 2
                                        Basic Party</span>
                                </span></p>
                        </div>
                        <div class="pro_detals mt-5">
                            <p><strong>Products:</strong></p>
                            <div class="pro_det">
                                <p><strong>Themed Birthday Party (1)</strong></p>
                                $29.99 ($29.99 each)
                                <p class="action_button"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                                        Edit</a> <a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                </p>
                            </div>
                            <div class="pro_det">
                                <p><strong>Themed Birthday Party (1)</strong></p>
                                $29.99 ($29.99 each)
                                <p class="action_button"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
                                        Edit</a> <a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                </p>
                            </div>
                        </div>
                        <div class="sum_footer">
                            Grand Total:
                            <h4>$293.79</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer_btn">
            <div class="row">
                <div class="col-md-6 col-6">
                    <a [routerLink]="['/eventCustomize']"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> PREVIOUS STEP</a>
                </div>
                <div class="col-md-6 col-6 text-end">
                    <a [routerLink]="['/eventCustomize']">NEXT STEP <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- The Modal -->
<app-login-popup></app-login-popup>